<table class="table table-striped">
    <thead>
      <tr>

        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Power</th>
        <th scope="col">Total Power</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of pokemons; let i = index">
        <td>{{p.name.english}}</td>
        <td>{{p.type.join(" ")}}</td>
        <td>HP: {{p.base.HP}} Attack: {{p.base.Attack}} Defense: {{p.base.Defense}} Speed: {{p.base.Speed}}</td>
        <td>{{p.base.HP+p.base.Attack+p.base.Defense+p.base.Speed}}</td>
        <td><a [routerLink]="['/edit',p.id]" >Editar</a></td>
      </tr>
    </tbody>

  </table>